/* GENERAL */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
}

.input-color {
  height: 43px;
  width: 50px;
}

.input-color,
.color-scheme,
.number-of-colors,
.get-color-scheme-button {
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.color-scheme,
.number-of-colors,
.get-color-scheme-button {
  font-family: inherit;
  font-size: 0.75rem;
}

.color-scheme,
.number-of-colors {
  padding: 0.75em 0.5em;
}

.color-scheme {
  color: #111827;
}

.get-color-scheme-button {
  color: #374151;
  font-weight: 500;
  padding: 0.5em 0.75em;
  min-height: 37px;
}

/* MAIN COLORS AREA */

.colors-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.color-box {
  width: 1fr;
}

.color {
  height: 300px;
  width: 100%;
}

.shown-color-hex {
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 1em 0;
}

@media (min-width: 768px) {
  .colors-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .color-scheme,
  .number-of-colors,
  .get-color-scheme-button {
    font-size: 1rem;
  }
}
